/data
/node-red/data
/node-red/projects
/camera_api
**/__pycache__/
**/backup/
**/colmap/
*.ply
__pycache__/
imgui.ini
/scripts/config.json
/experiments
lib/calibration/viz_utils/__pycache__/viz_cameras.cpython-310.pyc
node-red/.flows.json.backup
